.informationBox {
	visibility: hidden;
    position: fixed;
    left: 10px;
    top: 10px;
    padding: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: gray;
    z-index: 10000;
    background-color: #039ed4; /* RCA's Blue color */
}

/* But the messages box is always on top of the poi information box which will have z-index: 10000 */
#messages {
    z-index: 11000;
}

/* And the short message box on top of the messages */
#shortMessageBox {
    z-index: 12000;
}

.informationBox #body {
	margin: 0;
	padding: 0 10px 10px 10px;
	width: calc(100% - 20px);
	height: calc(100% - 10px);
	background-color: white;
    overflow: hidden; /* Hack for hiding scrollbar, works together with overflow-y: scroll and padding-right: 17px; in .informationBox #content */
}

.informationBox div#title {
	text-align: center;
	float: left;
	height: 100%;
	width: calc(100% - 26px);
}

.informationBox div#closeButton {
	float: left;
	height: 100%;
	width: 26px;
}

.informationBox header {
	padding: 10px 0 10px 0;
	width: 100%;
	overflow: auto;
}

.informationBox h1 {
	display: inline;
	font-size: 16px;
	font-shadow: 1px 0px blue;
}

.informationBox #closeButton {
	position: relative;
	top: 0;
	right: 0;
	width: 26px;
}

img#close {
	width: 26px;
	height: 26px;
}

video {
    width: 100%;
    height: auto;
}

.informationBox #content {
    width: 100%;
    height: calc(100% - 41px);
    text-align: justify;
    overflow-y: scroll;
    padding-right: 20px;
}

.informationBox #iBeacons, .informationBox #QRCodes {
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px 5px;
    text-align: left;
}

.informationBox #QRCodes h2 {
    margin: 0;
    padding: 0;
}

.informationBox li {
    padding-bottom: 10px;
}

.informationBox ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0 10px 0 10px;
}

#messages p.oldMessage {
    margin: 0;
}

#messages p.newMessage {
    color: dodgerblue;
    display: inline;
    margin-right: 10px;
}


#shortMessageBox #body #content #text {
    float: left;
    width: 100%;
    height: calc(100% - 68px);
}

#shortMessageBox #body #content #buttons {
    float: left;
    width: 100%;
    height: 58px;
    text-align: center;
}

#shortMessageBox #body #content #buttons button {
    font-size: 20px;
    background-color: #039ed4;
    border-radius: 8px;
}